body{
    font-family: 'Corinthia', cursive;
            background-color: darksalmon;
}
.header_div{
    background:gold;
    color: hotpink;
}


.header_div p{
    font-family: cursive;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color:royalblue;
    bottom: 0;
    width: 100;
    font-size: 18px;
    background-color: lightskyblue;
    line-height: 5;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(200, 245,100);
}